img {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}
#Canvas_Container {
    background-color: #FFFFFF;
    width: 100vw;
    position: fixed;
}
.carousel .item {
    border-radius: 0px 0px 17px 17px;
    overflow: hidden;
}
.carousel-control {
    border-radius: 17px;
}
#Carousel_1 {
    width: 75vw;
    margin: 0 auto;
    top: 15vh;
}
#Carousel_1_Wrapper {
    width: 75vw;
    margin: 0 auto;
}
#Buttons {
    width: 75vw;
    margin: 0 auto;
}
#Button_Text {
    font-family: 'Bungee Inline', cursive;
    font-size: 17px;
    text-align: center;
}
#Button_1 {
    width: 15.02vw;
    top: 15vh;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 0px;
    z-index: 1;
    outline-color: #57BC90;
    background-color: #57BC90;
    border-color: #57BC90;
}
#Button_2 {
    width: 15.02vw;
    top: 15vh;
    border-radius: 0;
    z-index: 1;
    outline-color: #57BC90;
    background-color: #57BC90;
    border-color: #57BC90;
}
#Button_3 {
    width: 15.02vw;
    top: 15vh;
    border-radius: 0;
    z-index: 1;
    outline-color: #57BC90;
    background-color: #57BC90;
    border-color: #57BC90;
}
#Button_4 {
    width: 15.02vw;
    top: 15vh;
    border-radius: 0;
    z-index: 1;
    outline-color: #57BC90;
    background-color: #57BC90;
    border-color: #57BC90;
}
#Button_5 {
    width: 15.02vw;
    top: 15vh;
    z-index: 1;
    border-top-right-radius: 12px;
    outline-color: #57BC90;
    background-color: #57BC90;
    border-color: #57BC90;
}
