
html {
	background-color: #5bc0de;
}

h5 {
	color:white;
}

#Projects {
	background-color: #ffffff;
	color: #5bc0de;
}

#Olympics {
	background-color: #ffffff;
}

#Pokemon {
	background-color: #ffffff;
}